.content {

    height: 92px;
    margin: 0 auto;
  
    text-align: center;
  }
  @media (max-width: 768px) {
    .header {
  
    }
  }
  @media (min-width: 480px) and (max-width: 768px) {
    /* Your styles for .nav within the media query */
    /* These styles will apply only when the screen width is between 480px and 768px */
    /* Add specific styles for screens within this range here */
  }
  @media (max-width: 480px) {
    .content {
      height:165px;
      margin-top:-50px;
    }
  }
  
  
  .header{
    height:100px
  }
  
  
  .nav{
  }
  
  .header-text{
  
    margin: 0 auto;
  }
  .first-sec{
    height: 392px;
    background-color:#F8F8F8;
  }
  .bg-section{
    background-image:url("../src/assets/Frame.png");
    background-repeat:no-repeat;
  }
  .bg-footer{
    background-image:url("../src/assets/Frame (4).png");
    background-repeat:no-repeat;
    background-position:right;
    background-size: contain;
  
  }
  