.container-1 #app { height: 100% }
.container-1 bg-primary{
    background:#ff6647
}
.container-1 html,
.container-1 body {
  position: relative;
  height: 100%;
}

.container-1 body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container-1 body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container-1 html,
.container-1 body {
  position: relative;
  height: 100%;
}

.container-1 #app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 .swiper  {
  width: 300px;
  height: 420px;
}
/* Media query for screens smaller than 600px wide */
@media screen and (max-width: 600px) {
  .container-1 .swiper {
    width: 100%; /* Adjust the width as needed for smaller screens */
    height: 380px; /* You may want to leave the height as auto for responsiveness */
  }
}

/* Media query for screens between 600px and 1024px wide (adjust the values as needed) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .container-1 .swiper {
    width: 70%; /* Adjust the width as needed for medium-sized screens */
    height: 380px; /* You may want to leave the height as auto for responsiveness */
  }
}

.container-1 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.container-1 .swiper-slide:nth-child(1n) {
  background-color:#ff6647;
}

.container-1 .swiper-slide:nth-child(2n) {
  background-color: #ff6647;
}

.container-1 .swiper-slide:nth-child(3n) {
  background-color: #ff6647;
}

.container-1 .swiper-slide:nth-child(4n) {
  background-color: #ff6647;
}

